DATABASE_URL="postgresql://postgres:postgres@localhost:5432/templateforge?schema=public"
BACKEND_PORT=4000
NEXT_PUBLIC_API_URL="http://localhost:4000"
DEMO_MODE=false
TEMPLATEFORGE_AI_PROVIDER="openrouter"
TEMPLATEFORGE_AI_MODEL=
OPENROUTER_API_KEY=
OPENROUTER_MODEL="openrouter/auto"
CENCORI_API_KEY=csk_4ebb878fef8fb8b215367f302dfcf67727df5ca803a5e546
CENCORI_MODEL="gpt-4o"
CENCORI_BASE_URL="https://api.cencori.com/v1"
TEMPLATEFORGE_SENDBYTE_API_KEY="sk_test_..."
TEMPLATEFORGE_SENDBYTE_BASE_URL="https://api.sendbyte.africa"
TEMPLATEFORGE_MARKETPLACE_MANIFEST_URL="https://cdn.jsdelivr.net/gh/obafemiolorungbon/templateforge-marketplace@main/manifest.json"
TEMPLATEFORGE_R2_BUCKET="templateforge-assets"
TEMPLATEFORGE_R2_ACCOUNT_ID="3cf662dfa30cbc036c5ab1c9cee1a007"
TEMPLATEFORGE_R2_ENDPOINT="https://3cf662dfa30cbc036c5ab1c9cee1a007.r2.cloudflarestorage.com"
TEMPLATEFORGE_R2_ACCESS_KEY_ID="c928f3d0a655107b8e33a39ce4d5ba3b"
TEMPLATEFORGE_R2_SECRET_ACCESS_KEY="7feb7e2e29eb09f56711702bca26161884400aa64be16b1a9bd9a67cf272c9a0"
